body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

/*
#header {
  width: 100%;
  height: 25px;
  background-color: #333;
  color: white;
  padding-left: 75px;
  padding-top:2px;
  line-height: 25px;
  font-size: 12px;
  position: fixed;
  z-index: 100;
}
*/

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 25px; */
}

#controls {
  width: 150px;
  height: 100%;
  background-color: #222;
}
#analysis {
  display: flex;
  position: absolute;
  top: 0;
  left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background-color: #444;
}
#frame {
  margin: 50px auto;
  width: 500px;
  height: 500px;
}
